@font-face {
  src: url(https://github.com/SashaKostina/diplom/blob/master/fonts/OpenSans-Regular.woff);
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(https://github.com/SashaKostina/diplom/blob/master/fonts/OpenSans-Bold.woff);
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
}

html {
	font-size: 125%
}

body {
	font-family: OpenSans, Arial, sans-serif;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("https://raw.githubusercontent.com/SashaKostina/diplom/master/img/football_1920.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: white;
	background-size: cover;
	width: 100%;
	position: relative;
	min-height: 100vh;
	z-index: 1;
	color: white;
}

@media (min-width: 641px) and (max-width: 960px) {
	.header {
		background-image: url("https://raw.githubusercontent.com/SashaKostina/diplom/master/img/football_1280.jpg");
	}
}

@media (max-width: 640px) {
	.header {
		background-image: url("https://raw.githubusercontent.com/SashaKostina/diplom/master/img/football_767.jpg");
	}
}
	

.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: -1;
}

.logo__text {
	text-decoration: none;
    text-transform: uppercase;
    margin-top: 2.3rem;
    margin-bottom: 14.5rem;
    width: 9.5rem /*190px*/;
	height: 2.6rem /*52px*/;
	align-self: center;
	fill: #ffffff;
}

@media (min-width: 641px) and (max-width: 960px) {
	.logo__text {
		width: 200px;
		height: 50px;
	}
}

@media (max-width: 640px) {
	.logo_text {
		width: 6.5rem;
		height: 1.75rem;
	}
}

.title {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
	width: 80%;

}

h1, .title span {
  text-transform: uppercase;
  color: white;
  font-size: 90px;
  font-weight: 700;
  box-sizing: border-box;
}

h1 {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: flex-start;
	margin-bottom: 1.3rem;
}

@media (min-width: 641px) and (max-width: 960px) {
	h1, .title span {
		font-size: 64px;
	}
	.title span {
		max-width: 90%;
	}
}

.title span {
	display: block;
	align-self: flex-end;
	margin-top: 0px;
	margin-left: auto;
}

@media (max-width: 640px) {
	h1, .title span {
		font-size: 28px;
	}
	.title span {
		margin-left: 64px;
		width: 90%;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	fill: #ffffff;
	justify-content: space-between;
	margin-top: 10rem;
	width: 50%;
	margin-bottom: 5.5rem

}

@media (min-width: 641px) and (max-width: 960px) {
	.buttons {
		width: 80%;
	}

	.button__app, .button__gg {
		width: 35%;
	}
}

.button__gg, .button__app {
	background-color: #5e42b0;
	border-radius: 40px;
	text-decoration: none;
	justify-content: center;
	color: white;
	display: flex;
	width: 45%;
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	box-sizing: border-box;

}

.icon {
	box-sizing: border-box;
	width: 40px;
	height: 50px;
	align-self: center;
	
}

.button_text {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 1.3rem;
}

@media (max-width: 640px) {
	.button_text {
		font-size: 8px;
	}
	.buttons {
		flex-direction: column;
		flex-wrap: wrap;
		width: 80%;
	}
	.button__gg, .button__app {
		width: 100%;
	}
	.icon {
		width: 23px;
		height: 18px;
	}
}

.athlets, .players {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	width: 100%;
	bottom: -1rem;
}

/*@media (min-width: 641px) and (max-width: 960px) {
.athlets::before {
	content: "";
	position: absolute;
	z-index: 1;
	background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_497.png");
    background-repeat: no-repeat;
    height: 755px;
    width: 120%;
  }
}*/

@media (min-width: 961px) {
.athlets_pic {
	position: absolute;
	width: 50%;
  }
}

.athlets h2 {
	font-size: 80px;
	font-weight: 700;
	line-height: 60px;
	color: #e7e7e7;
	text-transform: uppercase;
	margin-top: 115px;
	margin-left: auto;
	box-sizing: border-box;
	margin-bottom: 0;
	width: 40%
}

@media (min-width: 641px) and (max-width: 960px) {
	.athlets h2 {
		margin-top: 1rem;
		width: 50%;
		align-self: flex-start;
	}
	.athlets_pic {
		width: 50%;
		margin-right: auto;
	}
	.athlets {
		flex-direction: row;
	}
	ol {
		margin-right: 25px;
	}
}

ol {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-sizing: border-box;
	list-style-type: none;
	width: 100%;
	padding-left: 0;
}

.collaboration, .growth, .connection {
	display: flex;
    flex-direction: column;
    min-height: 220px;
    width: 100%;
    margin-left: auto;
}

.connection {
	background: #ffffff;
	    
}

h3 {
	color: #c1c1c1;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
    margin: 0;
}

h3 span {
	position: relative;
	font-size: 0.9rem;
	color: #000000;
	vertical-align: top;
}

h3 span::after {
	position: absolute;
	background-color: #5e42b0;
	content: "";
	width: 20px;
	height: 5px;
	bottom: -5px;
	left: 0;
}

p {
	font-size: 1rem;
	font-weight: 400;
	align-self: center;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

.collaboration {
	background-color: #f6f4fa;
}

.athlets article {
	width: 40%;
	margin-left: auto;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 60px;
}

.growth {
	background-color: #5e42b0;
	color: #ffffff;
}

.growth span::after {
	background-color: #efefef;
}


.players h2 {
	align-self: flex-start;
	font-size: 80px;
	font-weight: 700;
	line-height: 60px;
	color: #e7e7e7;
	text-transform: uppercase;
	margin-top: 115px;
	box-sizing: border-box;
	margin-bottom: 0;
	margin-left: 190px;
}


.players article {
	width: 40%;
	margin-left: 190px;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 60px;
}

@media (min-width: 641px) and (max-width: 960px) {
	.players h2 {
		margin-left: 20px;
	}
	.players article {
		margin-left: 20px;
		width: 50%;
	}
}

.players .growth {
	background-color: #0a0e34;
	color: #ffffff;
}

.players .growth span {
	color: #8c6fde;
}

.growth span::after {
	background-color: #ffffff;
}

.players_pic {
	position: absolute;
	width: 70%;
	right: 0;
}

.next_step {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.be_active, .find_contact, .work_it {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: relative;
}

.be_active_pic {
	width: 50%;
	font-size: 0;
}

.be_active_pic picture, .be_active_pic img {
	width: 100%;
}

@media (min-width: 641px) and (max-width: 960px) {
	.next_step {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.be_active, .find_contact, .work_it {
	  flex-direction: column;
	}
}

.number {
	font-size: 24px;
	width: 8.5rem;
	height: 7.75rem;
	margin-top: 10.5rem;
	background-color: #5e42b0;
	color: #f5f6f7;
	display: flex;
	font-weight: 700;
	z-index: 1;
	position: absolute;
    /*width: 40px;
    height: 40px;*/
    left: 50%;
    margin-left: -50px;
}

@media (min-width: 641px) and (max-width: 960px) {
	.number {
		width: 5.75rem;
		height: 5.75rem;
		margin-top: 25rem;
		left: 1.75rem;
		margin-left: 0;
	}
}

.number span {
	margin: auto;	
    position: relative;
}

.number span::after {
	position: absolute;
	content: "";
	background-color: #8f7bc8;
	left: 0;
	height: 5px;
	width: 100%;
	bottom: -5px;
}

.be_active article, .work_it article, .find_contact article {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
}

@media (min-width: 641px) and (max-width: 960px) {
	.be_active article, .work_it article, .find_contact article {
		width: 100%;
	}
}

.next_step h2 {
	margin: 0 130px;
	font-size: 80px;
	color: #c1c1c1;
	font-weight: 700;
	text-transform: uppercase;
}

.next_step p {
	font-size: 24px;
	font-weight: 400;
	margin: 0 130px;
	margin-top: 4.5rem;
}

.find_contact_pic {
	width: 50%;
	font-size: 0;
}

.find_contact_pic picture, .find_contact_pic img {
	width: 100%;
}

@media (min-width: 641px) and (max-width: 960px) {
	.find_contact_pic {
		order: -1;
	}
}

.work_it_pic {
	width: 50%;
	font-size: 0;
}

.work_it_pic picture, .work_it_pic img {
	width: 100%;
}

@media (min-width: 641px) and (max-width: 960px) {
	.be_active_pic, .find_contact_pic, .work_it_pic {
	  width: 100%;
	 }

	.next_step p {
		margin-top: 2rem;
		margin-bottom: 5rem;
	}

	.next_step h2 {
		margin-top: 4.5rem;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	background-image: url("https://raw.githubusercontent.com/SashaKostina/diplom/master/img/game_1920.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: white;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	z-index: 1;
	color: white;
}

@media (min-width: 641px) and (max-width: 960px) {
	.footer {
		background-image: url("https://raw.githubusercontent.com/SashaKostina/diplom/master/img/game_1280.jpg");
	}
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: -1;
}

.footer_main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: auto;
}
@media (min-width: 641px) and (max-width: 960px) {
	.footer_main {
		margin-top: 6rem;
	}
}

.logo {
	height: 135px;
	width: 130px;
	background: #543aa1;
	display: flex;
	border-radius: 20px;
	margin-top: auto;
}

.logo svg {
	width: 100px;
	height: 90px;
	margin: auto;
}

.text_footer {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 35px;
}

@media (min-width: 641px) and (max-width: 960px) {
	.text_footer {
		margin: auto;
	}
    .footer h2 {
    	font-size: 80px;
    }
    .footer p {
    	font-size: 36px;
    }

}

.footer h2 {
	margin-bottom: 0;
	text-transform: uppercase;
    color: white;
    font-size: 90px;
    font-weight: 700;
    box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: flex-start;
	margin-bottom: 1.3rem;
}


.footer p {
	font-size: 30px;
	color: #a496ca;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 0;
	text-align: center;
}

.footer .logo__text {
	margin-top: auto;
}